.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 226px;
    margin-bottom: 32px;
}


.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #8a8a89;
}

.dropdownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 12px 18px;
    border-radius: 14px;
    background: var(--color-main-theme);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;

    &:hover, :focus {
        background: #36a379;
    }
}

.dropdownIcon {
    transition: transform 250ms ease;
}

.dropdownIconOpen {
    transform: rotate(180deg);
}
.dropdownListWrapper {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    z-index: 999;
    width: 100%;
    padding: 14px 2px 14px 18px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
}

.dropdownList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.dropdownList::-webkit-scrollbar {
    width: 16px;
}

.dropdownList::-webkit-scrollbar-track {
    background: transparent;
}

.dropdownList::-webkit-scrollbar-thumb {
    background: #dadde1;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.dropdownItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.3);
    cursor: pointer;
    pointer-events: auto;
}

.selected {
    color: #191a15;
}


