.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    background-color: rgba(25, 26, 21, 0.6);
    pointer-events: none;
    transition: opacity var(--transition);
}

.backdrop.open {
    opacity: 1;
    pointer-events: auto;
}

.closeMenuBtn {
    position: absolute;
    top: 0;
    right: 16px;

    background: none;
    border: none;
    padding: 15px 12px;
}

.closeMenuBtn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.mobileMenu {
    padding-inline: 1rem;
    font-weight: var(--font-weight-medium);
    font-size: 1.25rem;
    line-height: 1.2;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 400px;
    height: 100vh;
    background-color: #f2f4f7;
    z-index: 11;
    border-radius: 25px 0 0 25px;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(100%);
    transition: transform var(--transition);
}


.mobileMenu.open {
  transform: translateX(0);
}

.mobileNavList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.accentColor {
    color: var(--color-main-theme)
}

.buttonsWrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media(min-width: 900px) {
    .backdrop{
        display: none;
    }
}