.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    background: rgba(25, 26, 21, 0.6);
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    padding: 64px;
    background: #fbfbfb;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.description {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.5);
}

.profileWrapper {
    display: flex;
    gap: 14px;
}

.image {
    height: 44px;
    width: 44px;
    border-radius: 15px
}

.textNameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #8a8a89;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}