.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    width: 100vw;
    background: rgba(25, 26, 21, 0.6);
}

.modal{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
    max-width: calc(400px - 32px);
    border-radius: 30px;
    padding: 2rem;

    background: #fbfbfb;
}

.closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
}

.textWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-weight: var(--font-weight-medium);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.text{
    max-width: 435px;
    width: 100%;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.5);
}
/* 
.form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    padding: 18px 16px;
    border: 2px solid rgba(25, 26, 21, 0.1);
    width: 100%;
    border-radius: 12px;
    outline: transparent;
    &:focus {
        border-color:var(--color-main-theme);
    }
}


.passWrapper{
    position: relative;
}

.inputPassword{
    width: 100%;
}


.btnEye{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}

.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;

    padding: 16px;
    border-radius: 30px;
    margin-top: 22px;
    background-color: var(--color-main-theme);
}

.inputWrapper {
    position: relative;
}

.inputError {
    border-color: #e53935;
    &:focus {
        border-color: #e53935;
    }
}

.error {
    font-size: 13px;
    position: absolute;
    line-height: 1.25;
    color: #e53935;
} */

@media (min-width: 768px) {
    .modal{
        padding: 4rem;
        max-width: calc(556px - 32px);
    }
}

@media (min-width: 1440px) {
    .modal{
        max-width: 556px;
    }
}