.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    padding: 18px 16px;
    border: 2px solid rgba(25, 26, 21, 0.1);
    width: 100%;
    border-radius: 12px;
    outline: transparent;

    &:focus {
        border-color: var(--color-main-theme);
    }
}

.passWrapper {
    position: relative;
}

.inputPassword {
    width: 100%;
}

.btnEye {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;

    padding: 16px;
    border-radius: 30px;
    margin-top: 22px;
    background-color: var(--color-main-theme);

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    position: relative;
}

.inputError {
    border-color: #e53935;

    &:focus {
        border-color: #e53935;
    }
}

.error {
    font-size: 13px;
    position: absolute;
    line-height: 1.25;
    color: #e53935;
}

.loader {
    height: 30px;
    width: 30px;
    align-items: center;
}