.navWrapper{
    display: none;
}

.buttonWrapper {
    display: none;
}
.profileWrapper {
    display: none;
}

.profileCredWrapper {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.profileIconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    height: 40px;
    width: 40px;
    background: var(--color-main-theme);
}

@media(min-width:900px){
    .desktopNavList {
            display: flex;
            gap: 40px;
        }
    
        .link {
            padding: 38px 0;
            display: inline-block;
        }

        .buttonWrapper {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0.5rem;
        }

        .profileWrapper {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 28px;
        }
        
        .navWrapper {
            display: block;
        }
}

